@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
    font-family: 'Manrope', sans-serif;
    width: 480px;
    padding: 1.5rem;
    padding-top: 0;
    /* background-color: white; */
    background: linear-gradient(225deg, #f8e0b5 0%, #FFFFFF 100%);
    /* background-color: #FCF3E1; */
}

h1{
    font-size: 2rem;
    color: #1a73e8;
    margin-bottom: 0.25rem;
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.form-container{
    border: 2px solid #5cb5ff;
    border-radius: 0.25rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #def9fb;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-label{
    font-weight: 700;
    font-size: 1rem;
    color: #1a73e8;
    display: block;
    margin-bottom: 0.5rem;
    
}

input{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid #1a73e8;
    /* background-color: #ebf6ff; */
    background-color: white;
    box-sizing:border-box;
}

.helper-text{
    font-size: 0.85rem;
    color: gray;
    margin-top: 0.25rem;
    font-weight: 500;
}

#slack-emoji{
    padding-right: 2rem;
}
#emoji-picker{
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 20%;
}

.button-div{
    text-align: center;
}

.button-secondary{
    border: 2px solid #1a73e8;
    /* background-color: #ebf6ff; */
    background-color: white;
    color: #1a73e8;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.button-primary{
    border: 2px solid #1a73e8;
    background-color: #1a73e8;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}